################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/WinUsbSerialEnum.csproj.user
/Tests/bin/Release/netcoreapp2.1
/Tests/obj
